# Ignore the virtual environment folder
myenv/

# Ignore local development settings
backend/settings/local.py

# Ignore database files
*.sqlite3

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore environment-specific files
*.env

# Ignore system and IDE files
.DS_Store
.vscode/
.idea/

# Ignore log files
logs/